//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$nanumgothic: 'NanumBarunGothic YetHangul', 'DomaineText', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@font-face {
  font-family: 'NanumBarunGothic YetHangul';
  src: local('NanumBarunGothic YetHangul'),
  url('/NanumBarunGothic-YetHangul.woff2') format('woff2'),
  url('/NanumBarunGothic-YetHangul.woff') format('woff'),
  url('/NanumBarunGothic-YetHangul.ttf') format('truetype');
  unicode-range: U+AC00-D7A3, U+1100-11F9, U+302E-302F, U+3131-318E;
}

/* use Charis SIL - Regular in .woff format */
@font-face {
    font-family: DomaineText;
    src: url('/blog/DomaineTextWeb-Regular.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* use Charis SIL - Italic in .woff format */
@font-face {
    font-family: DomaineText;
    font-style: italic;
    src: url('/blog/DomaineTextWeb-Italic.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: DomaineText;
    font-weight: bold;
    src: url('/blog/DomaineTextWeb-Bold.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
